// contacto
.formulario{
.contacto{
    text-align: center;
    &:hover{
        color: #ffffff;
    }
}

.forms{
    margin-left: 37%;
    margin-block-start: 4%;
    justify-content: center;
    background-color: #dde2e2;
    width: 390px;
}
}