footer{
    color: black;
    width: 100%;
    // height: -41%;
    background-color: #000000;
    opacity: .5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;

    &:hover{
        color: #ffffff;
        opacity: 1;
    }
    .creador{
        margin-top: 2%;
    }
}
.newslettertitle{
    justify-content: center;
    margin-top: 6%;
    }
    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
.contenedorRedes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
    padding: -6%;
    
    

}


.redes{
    margin: 1%;
    text-decoration: none;
  }
  
     h4{
         color: #ffffff;
        margin-block-start: 76px;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
}
