footer{
    color: black;
    width: 100%;
    height: 100%;   
    background-color: #000000; 
    opacity: .5;
    margin-block-start:85px;
    &:hover{
        color: #ffffff;
        opacity: 1;
    }
}
.contenedorRedes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    

}
.redes{
    margin: 1%;
    text-decoration: none;
  }
  
     h4{
         color: #ffffff;
        margin-block-start: 76px;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
}


